/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Raleway:wght@300&display=swap");

body {
  background-color: rgba(255, 255, 255, 0.973);
  font-family: "Josefin Sans", sans-serif;
}

/* HEADER  */
.index {
  margin: 15px;
}

/* NAV */

nav {
  background-color: #e3e3e1;
}

.nav-link {
  color: #68753d;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  letter-spacing: 2px;
}

.nav-item :hover {
  color: #313421;
  text-decoration: underline;
}

.logoNav {
  width: 25%;
}

/* HERO */

.heroTienda {
  text-align: center;
  /* background-image: url(../imagenes/header.jpg); */
  background-image: url(../imagenes/2ba1dc76d146027377625bd4e73f5748.jpg);
  background-size: cover;
}

.imgHero {
  margin: 3rem;
  width: 35%;
}

/* BOTON TIENDA */
button {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  border: 1px solid #464646;
}

button:active {
  transform: scale(0.95);
}

button .border {
  position: absolute;
  border: 1px solid #464646;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}

button:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}

.full-rounded {
  border-radius: 2em;
}

/* NUEVAS FRAGANCIAS INDEX */
.productos {
  background-color: #e3e3e1;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.productos h2 {
  text-align: center;
}

.fragancias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fraganciasCards {
  margin: 0.5rem;
}

.fraganciasCards h5 {
  font-weight: bold;
  text-align: center;
}

.btnFragancias {
  background-color: #a0b071;
  border-color: #ffffff;
}

.btnFragancias:hover {
  background-color: #68753d;
  border-color: #ffffff;
}

.hrFragancias {
  width: 25%;
  margin: auto;
  padding-bottom: 1rem;
}

/* SOBRE NOSOTROS INDEX */
.imgVelas {
  width: 40%;
}

.sobreNosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.textoSobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.textoSobre h3 {
  padding-top: 1rem;
}

hr {
  width: 50%;
}

/* GALERIA INDEX */
.galeria {
  background-color: #e3e3e1;
}

.galeria h3 {
  padding: 1rem;
}

.hrGaleria {
  width: 40%;
  margin: auto;
}

.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgGaleria {
  width: 15rem;
  margin: 3rem;
}

.imagenes2 {
  display: flex;
  flex-direction: column;
}

.imgGaleria2 {
  width: 10rem;
  margin: 1rem;
}

.botonWhatsApp img {
  width: 4rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
}


/* TIENDA */
.logoCarrito {
  width: 2rem;
}

.contenidoTienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.card {
  margin-top: 3rem;
  width: 18rem;
}

.buttonTienda {
  margin-bottom: 1rem;
}



/* MODAL */
.modalContainer {
  margin: 0 10%;
  border: 1px solid #E0E1E2;
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 100%;
  top: 0;
}

.modalHeader {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.modalHeader hr {
  width: 300%;
}

.hrCarrito {
  text-align: center;
  margin: auto;
  width: 80%;
}

.cerrar {
  width: 3rem;
  cursor: pointer;
  ;
}

.carritoContenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.carritoContenido h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

.carritoContenido p {
  font-weight: bold;
  margin: 0.5rem;
}

.imgCarrito {
  width: 6rem;
  margin: 2rem;
}

.totalComprado {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
}

.totalComprado p {
  font-weight: bold;
}

.eliminar {
  width: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

.eliminarProducto {
  display: flex;
}



/* FOOTER */
footer {
  margin-top: 3rem;
  background-color: #e3e3e1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

footer ul li {
  display: inline;
}

footer ul li img {
  width: 40px;
  height: 40px;
  transition: height 0.5s, width 0.5s;
}

footer ul li img:hover {
  width: 50px;
  height: 50px;
}

footer img {
  width: 20%;
  margin: 20px;
}